<h1>Sales</h1>
<table>
  <tr>
    <th>Employee</th>
    <th>Amount</th>
    <th>Commission</th>
  </tr>
<% @sales.each do |sale| %>
<% employee =@employees.find {|employee|sale.name == employee.last_name } %>
  <tr>
    <td><%= sale.name %></td>
    <td><%= sale.amount %></td>
    <td><% if employee.commission_rate >0 %>
      <%= sale.amount * employee.commission_rate %>
    <% end %></td>
  </tr>
<% end %>

</table>
